<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
  
</body>
</html>
<script>
  function maopao(){
    var arr=[10,20,9,8,79,65,100];
    for(var i = 0; i < arr.length-1; i++){
      console.log(1)
      for(var j=0; j < arr.length-i; j++){
        if(arr[j] > arr[j+1]){
          var b = arr[j]
          arr[j] = arr[j+1]
          arr[j+1] = b
        }
      }
    }
    return arr
  }
  console.log(maopao())
  
</script>